#blockSlider1{
   grid-area:blockSlider1;
   width: 100%;
   padding:0;
    margin: auto;
    
    
}
  .parallax{
    padding-top: 5em;
    padding-bottom: 50vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 16vh;
   /*background-image: url(../image/roi.png);*/ 
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}




.parallax h1{
  padding-top:5rem;
  font-size: 5rem;
  color:rgb(138, 2, 42);
   margin:auto;
  text-align: center;
    
}
.parallax h3{
    margin-top: 1em;
}

@media screen and (max-width: 767px){
  /*@media (min-width: 768px) {*/

  
    
/******Paralax*******/

.parallaxCap{

  display: none;
}
}